.searchContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.searchContainer form {
  display: inline;
}

.searchContainer input {
  width: 400px;
}

.cardsInStore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 14pt;
  color: #19647e;
}

.paginator {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  margin-bottom: 40px;
  margin-top: 10px;
}

.paginator span {
  margin-left: 5px;
  margin-right: 5px;
}

.paginator .pageLink {
  cursor: pointer;
}

.paginator .currentPage {
  font-weight: 700;
}
