header {
  position: relative;
  height: 120px;
  min-width: 900px;
}

.barraSuperior {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #f16e31;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logoContainer {
  margin-left: 40px;
  margin-top: 10px;
}

.singlesLogo {
  width: 180px;
}

.mghlogoContainer {
  margin-right: 40px;
  margin-top: 10px;
}

.mghlogo {
  width: 60px;
}
