.searchContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

.searchContainer form {
  display: inline;
}

.searchContainer .MuiTextField-root {
  width: 400px;
  max-width: 100%;
}

.setSelectorContainer{
text-align:center;
}

.setSelector{
  width: 420px;
  margin-left:auto;
  margin-right: auto;
  display:inline;
}